
div.equalWidth2
{
    width: 48%;
}

a.button
{
	font-weight: bold;
    text-decoration: none;
    color: #6EAC2C;    
    background-color: #DDD;
    border:1px solid #6d6d6d;
    padding: 1mm;
}

.categoryType
{
    border-radius: 12px;
    border: 1px solid #AAA;
    margin-top: 5px;
    background-color: #F8F8F8;
    overflow: hidden;
}

.categoryTypeTitle
{
    background-color: #6EAC2C;
    color:#FFF;
    font-weight: bold;
}

.rounded
{
    border-radius: 12px;
}

.category
{
    border-bottom: 1px solid #AAA;
    color: #222;
    font-size: 0.9em;
    padding-left: 5px;
}

.category:last-child
{
  border-bottom: none;
}

.bordered
{
    border: 1px solid #444;
    border-radius: 10px;
}

.recipeListItem
{
    display: inline-block;
    vertical-align: bottom; 
    width: 12cm;
    max-width: 90%;
    height: 5cm;
    overflow: hidden;
}

.recipeListItemTop
{
    display: inline-block;
    vertical-align: bottom; 
    width: 7cm;
    max-width: 90%;
    height: 10cm;
    overflow: hidden;
    position: relative;
}

a.recipeTitle
{
    font-weight: bold;
    color: orange;
    text-decoration: none;
    font-size: 14pt;
}

.recipeListItem .recipeImage
{
    height: 100%;
    width: 50%;
    margin-right: 10px;
}

.recipeListItemTop .recipeImage
{
    width: 100%;
    height: 50%;
}

div.rlink
{
    max-height: 40px;
    font-weight: bold;
    vertical-align: middle;  
    overflow: hidden; 
    margin-bottom: 2px;
}

.rlink .glyphicon
{
    font-size: 14pt;
    cursor: pointer;
}

img.linkPreview
{
    max-width: 60px; 
    max-height: 40px;
    vertical-align: middle;   
}

.categoryTypeTitle > a
{
    color: white;
}

#slideshowContainer
{
    height: 400px; position: relative;
}

.isMobile #slideshowContainer
{
    height: 6cm;
}

/* bootstrap overrides */

.icon32
{
    color: #6EAC2C;
    font-size: 32px;
}

.recipeTag
{
    display: inline-block;
    min-width: 60px;
    text-align: center; 
    margin-left: 5px;
    margin-top: 5px;
    background-color: #6EAC2C;
    color: white;
    font-weight: bold;
    font-size: .8em;
    border-radius: 15px;
}

.btn-primary 
{
  background-color: #6EAC2C;
  border-color: #2EA46D;
  font-weight: bold;
}

.btn-primary:focus, .btn-primary.focus 
{
  background-color: #5E9C1C;
  border-color: #12402B;
}

.btn-primary:hover {
  background-color: #5E9C1C;
  border-color: #20744D;
}

.btn-primary:active, .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-color: #5E9C1C;
  border-color: #20744D;
}

.btn-primary:active:hover, .btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus, .btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus, .btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus 
{
  background-color: #20744D;
  border-color: #12402B;
}
