defaultTitle=Piment du Jour
description=Piment Du Jour is live to spice up your pretty tasty birdy daily.

api.proxy=/proxy.php
api.pdj.url=../pdj.net/api
api.pdj.recipeDetails=Recipes/GetRecipeDetails?recipeId=

api.google.url=//maps.googleapis.com/maps/api/:service/:format
api.google.defaults.service=geocode
api.google.defaults.format=json

MediaThingy.root=/mt
MediaThingy.imagesRoot=images
MediaThingy.path=../mt/js
MediaThingy.js=mt.extensions.js;mt.extensions.jquery.js;mt.mediafile.js;mt.album.js;mt.transition.js;mt.slideshow.js;mt.html5player.js
images.root=/images
images._rootdir=../images
images.dir=RecipeImages
images.subdirs=;tn;ss
images.idDir=true
images.default=nophoto.jpg
images.background=/images/fall_leaves.jpg

;external JS
lib.path=../lib
lib.js=jquery-ui-1.9.2.custom.min.js;angular-ui-router.min.js;ui-bootstrap-tpls-0.14.3.min.js;ng-file-upload.js;md5.min.js
lib.angular.path=../lib/angular-1.4.2
lib.angular.js=angular.min.js;angular-resource.min.js;angular-sanitize.min.js;angular-animate.min.js

lib.bootstrap.path=../lib/bootstrap
lib.bootstrap.js=js/bootstrap.min.js
lib.bootstrap.css=css/bootstrap.min.css
lib.bootstrap.sizes.tn=320
...xs=480
...sm=768
...md=992
...lg=1200

share.link.icon=link.png
share.link.title=Direct link
share.twitter.url=https://twitter.com/intent/tweet?url={0}&text={1}&via={2}
share.twitter.icon=twitter.png
share.twitter.title=Tweet this
share.facebook.url=https://www.facebook.com/sharer/sharer.php?u={0}
share.facebook.icon=facebook.png
share.facebook.title=Share on Facebook

share.twitter=https://twitter.com/intent/tweet?url={0}&text={1}&via={2}
share.facebook=https://www.facebook.com/sharer/sharer.php?u={0}

;MediaThingy file types
TYPES.IMAGE=jpg;jpeg;png;gif;bmp;svg
TYPES.IMAGE_NOTHUMB=bmp;svg
TYPES.AUDIO=mp3;wav;m4a;aac;ogg
TYPES.VIDEO=avi;divx;wmv;mov;mpg;mkv;m2t;mts;mp4;m4v;3gp;flv;ogv;ogm;webm
TYPES.VIDEO_STREAM=m4v;mp4;flv;3gp;webm;ogm;ogv
TYPES.SPECIAL=xml;php;chunk;js;css
TYPES.TEXT=txt

;MediaThingy slideshow
MT.album.border=false
MT.album.margin=false
MT.album.shadow=false

MT.slideshow.play=true
MT.slideshow.interval=6000
MT.slideshow.alignX=center
MT.slideshow.alignY=center
MT.slideshow.zoom=2
MT.slideshow.type=2
MT.slideshow.animate=false

;Git path for auto-update
_GIT.PATH=C:\Program Files (x86)\Git\bin
_GIT.GIT=git.exe

upload._diskPath=C:\inetpub\wwwroot\images\RecipeImages
upload.baseUrl=/images/RecipeImages
upload.queued=true

;image thumbnail generation
thumbnails.sizes.hd=1920
thumbnails.sizes.ss=960
thumbnails.sizes.tn=240
thumbnails.maxStretch=1.5
thumbnails.cropRatio=1
thumbnails.keep=hd

EXIF_SUPPORTED_TYPES=IMAGETYPE_JPEG;IMAGETYPE_TIFF_II;IMAGETYPE_TIFF_MM

_IPTC.headers.2#005=DocumentTitle
..2#010=Urgency
..2#015=Category
..2#020=Subcategories
..2#025=Tags
..2#040=SpecialInstructions
..2#055=CreationDate
..2#060=CreationTime
..2#080=AuthorByline
..2#085=AuthorTitle
..2#090=City
..2#095=State
..2#101=Country
..2#103=OTR
..2#105=Headline
..2#110=Source
..2#115=PhotoSource
..2#116=Copyright
..2#120=Caption
..2#122=CaptionWriter


