
div.equalWidth2
{
    width: 48%;
}

a.button
{
	font-weight: bold;
    text-decoration: none;
    color:#6EAC2C;    
    background-color: #DDD;
    border:1px solid #6d6d6d;
    padding: 1mm;
}

.categoryType
{
    border-radius: 12px;
    border: 1px solid #AAA;
    margin-top: 5px;
    background-color:#F8F8F8;
    overflow: hidden;
}

.categoryTypeTitle
{
    background-color:#6EAC2C;
    color:#FFF;
    font-weight: bold;
}

.rounded
{
    border-radius: 12px;
}

.category
{
    border-bottom: 1px solid #AAA;
    color:#222;
    font-size: 0.9em;
    padding-left: 5px;
}

.category:last-child
{
  border-bottom: none;
}

.recipeListItem
{
    display: inline-block;
    vertical-align: bottom; 
    max-width: 11cm;
    padding: 10px;
    border: 1px solid #AAA;
    border-radius: 10px;
}

a.recipeTitle
{
    font-weight: bold;
    color: orange;
    text-decoration: none;
}


.thumbnailContainer
{
    height: 4cm;
    width: 4cm;
    overflow: hidden;
    text-align: center;
    vertical-align: center; 
}

.recipeImage
{
    height: 4cm;
    width: 4cm;
    margin-right: 10px;
}

/* bootstrap overrides */

a.navbar-brand
{
    padding: 2px;
}

.categoryTypeTitle > a
{
    color: white;
}

div#main
{
  margin-top: 50px;
}
