defaultTitle=Piment du Jour
description=Piment Du Jour is live to spice up your pretty tasty birdy daily.

pdjApi.root=/api
pdjApi.recipeDetails=Recipes/GetRecipeDetails?recipeId=

MediaThingy.root=/mt
MediaThingy.imagesRoot=images

images.root=/images
images.dir=RecipeImages
images.subdirs=;tn;ss
images.idDir=true
images.default=nophoto.jpg
images.background=/images/fall_leaves.jpg

share.link.icon=link.png
share.link.title=Direct link
share.twitter.url=https://twitter.com/intent/tweet?url={0}&text={1}&via={2}
share.twitter.icon=twitter.png
share.twitter.title=Tweet this
share.facebook.url=https://www.facebook.com/sharer/sharer.php?u={0}
share.facebook.icon=facebook.png
share.facebook.title=Share on Facebook

share.twitter=https://twitter.com/intent/tweet?url={0}&text={1}&via={2}
share.facebook=https://www.facebook.com/sharer/sharer.php?u={0}

TYPES.IMAGE=jpg;jpeg;png;gif;bmp;svg
TYPES.IMAGE_NOTHUMB=bmp;svg
TYPES.AUDIO=mp3;wav;m4a;aac;ogg
TYPES.VIDEO=avi;divx;wmv;mov;mpg;mkv;m2t;mts;mp4;m4v;3gp;flv;ogv;ogm;webm
TYPES.VIDEO_STREAM=m4v;mp4;flv;3gp;webm;ogm;ogv
TYPES.SPECIAL=xml;php;chunk;js;css
TYPES.TEXT=txt

;Git path for auto-update
_GIT.PATH=C:\Program Files (x86)\Git\bin
_GIT.GIT=git.exe