defaultTitle=PDJ local
pdjApiRoot=/pdj/api/
pdjApiRoot=/proxy.php/www.pimentdujour.com/api/
MediaThingyRoot=/mt

images.root=/pictures
images._rootdir=C:/Users/arthur.raynaud/Pictures
images.dir=RecipeImages

recipeIdDir=true,
defaultImage=nophoto.jpg
backgroundImage=/pictures/web/renards_files/18fox-magnifiques-7364.jpg
subdirs=;tn;ss

share.link.icon=link.png
share.link.title=Direct link
share.twitter.url=https://twitter.com/intent/tweet?url={0}&text={1}&via={2}
share.twitter.icon=twitter.png
share.twitter.title=Tweet this
share.facebook.url=https://www.facebook.com/sharer/sharer.php?u={0}
share.facebook.icon=facebook.png
share.facebook.title=Share on Facebook
