<div id="wrapper" class="main ease05"  ng-class="lc.sidebarWrapperClasses()">

<div id="sidebar-wrapper" class="ease05 noprint">
<form name="filterForm">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="lc.toggleSidebar(false)">
          <i class="glyphicon glyphicon-triangle-left"></i>
        </button> 
      </span>
      <input type="text" class="form-control" id="inputDescription" ng-model="rc.query" placeholder="Search" ng-blur="rc.getRecipeList()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-show="rc.query" ng-click="rc.query=''; rc.getRecipeList();">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-click="rc.getRecipeList()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>

	<div id="categories" class="scrollY">
		<div id="categoryType_{{type.ID}}" ng-repeat="type in rc.categoryTypes" class="categoryType ease05">
			<div class="categoryTypeTitle nowrap">
				<a ng-click="type.show=!type.show">
					<img ng-src="images/{{type.show ? 'minus' : 'expand'}}.png"/>{{type.Name}}
				</a>
			</div>
			<div id="category_{{cat.ID}}" class="category nowrap ease05" ng-repeat="cat in type.Categories" ng-show="type.show">
				<input type="checkbox" class="chkSearch" id="cb_cat_{{cat.ID}}"
				 ng-model="rc.selectedCategories[cat.ID]"  ng-true-value="{{cat.ID}}"
				  ng-change="rc.getRecipeList()" />
				<label for="cb_cat_{{cat.ID}}">{{cat.Name}}</label>
			</div>
		</div>
	</div>
</form>
</div>

<div id="page-content-wrapper" class="center ease05">

	<div class="floatL">
	    <a class="btn btn-default menu-toggle glyphicon glyphicon-search" title="Search" ng-hide="lc.sidebar" ng-click="lc.toggleSidebar(true)"></a>
	</div>

	<div class="floatR">
		<img src="images/ajax-loader.gif" ng-show="rc.loading"/>
		<span id="resultCount" ng-show0="!rc.loading">
			{{rc.list.length ? rc.plural(rc.list.length, "recipe") : "No results found."}}
			{{rc.status}}
		</span>
	</div>

	<h2>{{rc.title()}}</h2>

	<div id="item_{{recipe.RecipeID}}" 	class="recipeListItem bgwhite margin shadow" ng-repeat="recipe in rc.list">
		<div class="thumbnailContainer floatL photoBorder">
			<a ui-sref="recipe({recipeId: recipe.RecipeID})">
				<img class="stretchH" ng-src="{{rc.recipePhotoUrl(recipe,1)}}" />
			</a>
		</div>

		<a class="recipeTitle" ui-sref="recipe({recipeId: recipe.RecipeID})">{{recipe.RecipeName}}</a>
		<div class="left">
			{{recipe.RecipeDescription.substringBefore('.', false, true, true)}}
		</div>
		<div class="right small">
			<div class="floatR equalWidth2" ng-repeat="type in recipe.RecipeCategories">
				{{rc.categoryTypeNames[type.CategoryTypeID] + ":"}}
				<span class="bold" ng-repeat="cat in type.CategoryIDs">{{ ($index ? ", " : "") + rc.categoryNames[cat]}}</span>
			</div>
		</div>
	</div>

</div>
</div>
