<div id="wrapper" class="main ease05"  ng-class="lc.sidebarWrapperClasses()">

<div id="sidebar-wrapper" class="ease05 hidden-print">
<form name="filterForm">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="lc.toggleSidebar(false)">
          <i class="glyphicon glyphicon-triangle-left"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-show="rc.query" ng-click="rc.query=''; rc.loadRecipeList();">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
      </span>
      <input type="text" class="form-control" id="inputDescription" ng-model="rc.query" placeholder="Search" ng-blur="rc.loadRecipeList()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="rc.loadRecipeList()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>

	<div id="categories" class="scrollY">
		<div id="categoryType_{{type.ID}}" ng-repeat="type in rc.categoryTypes" class="categoryType ease05">
			<div class="categoryTypeTitle nowrap">
				<a ng-click="type.show=!type.show">
					<img ng-src="images/{{type.show ? 'minus' : 'expand'}}.png"/>{{type.Name}}
				</a>

			<a class="category nowrap" ng-repeat="cat in type.Categories" ng-if="rc.selectedCategories[cat.ID]"
			ng-click="rc.selectedCategories[cat.ID]=false; rc.loadRecipeList();"> {{cat.Name}}</a>

			</div>
			<div id="category_{{cat.ID}}" class="category nowrap ease05" ng-repeat="cat in type.Categories" ng-if="type.show">
				<input type="checkbox" class="chkSearch" id="cb_cat_{{cat.ID}}"
				 ng-model="rc.selectedCategories[cat.ID]"  ng-true-value="{{cat.ID}}"
				  ng-change="rc.loadRecipeList()" />
				<label for="cb_cat_{{cat.ID}}">{{cat.Name}}</label>
			</div>
		</div>
	</div>
</form>
</div>

<div id="page-content-wrapper" class="center ease05">

	<div class="floatL hidden-print">
	    <a class="btn btn-default menu-toggle glyphicon glyphicon-search" title="Search" ng-hide="lc.sidebar || !lc.loggedIn()" ng-click="lc.toggleSidebar(true)"></a>
	</div>

	<div class="floatR hidden-print">
		<img src="images/ajax-loader.gif" ng-show="rc.loading"/>
		<span id="resultCount" ng-show="!rc.loading">
			{{rc.list.length ? rc.plural(rc.list.length, "recipe") : "No results found."}}
			{{rc.status}}
		</span>
	</div>

	<p class="title hidden-print">{{rc.title()}}</p>

	<p ng-if="!lc.loggedIn()">Welcome! Here are some of our latest recipes.<br/>
	You can <a class="btn btn-primary" ui-sref="signin">Log in</a> or <a class="btn btn-primary" ui-sref="signup">Sign up</a> to discover more content, and submit your own recipes!</p>

	<div id="item_{{recipe.ID}}" class="recipeListItemTop bordered bgwhite margin shadow" ng-repeat="recipe in rc.list">

		<a ui-sref="recipe({recipeId: recipe.ID})">
			<crop-image class="recipeImage" src="{{rc.recipePhotoUrl(recipe,1)}}" on-error="rc.removeImage"></crop-image>
		</a>

		<div class="pad10 bgwhite">
			<div class="centered">
				<a class="recipeTitle textWhiteOutline" ui-sref="recipe({recipeId: recipe.ID})">{{recipe.Name}}</a>
			</div>
			<div class="left">{{rc.firstSentence(recipe.Description)}}</div>
		</div>

		<div class="pad5 bottomLeftCorner0 centered">
			<span class="recipeTag pad2 nowrap" ng-repeat="tag in recipe.tags">{{tag}}</span>
		</div>

	</div>

</div>
</div>
