<div id="wrapper" class="main ease05"  ng-class="lc.sidebarWrapperClasses()">

<div id="sidebar-wrapper" class="ease05 hidden-print">
<form name="filterForm">
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="lc.toggleSidebar(false)">
          <i class="glyphicon glyphicon-triangle-left"></i>
        </button> 
        <button type="button" class="btn btn-default" ng-show="rc.query" ng-click="rc.query=''; rc.loadRecipeList();">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
      </span>
      <input type="text" class="form-control" id="inputDescription" ng-model="rc.query" placeholder="Search" ng-blur="rc.loadRecipeList()" />
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="rc.loadRecipeList()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>
<br/>
    <div class="input-group">
      <span class="input-group-btn">
         <button type="button" class="btn btn-default"><label for="dd_size">Display</label></button> 
      </span>
      <select id="dd_size" ng-model="rc.filters.size" name="hasPhoto" class="form-control" ng-options="item for item in rc.dropdown.size" ng-change="rc.filterRecipeList()">
        </select>
    </div>

    <div class="input-group">
      <span class="input-group-btn">
         <button type="button" class="btn btn-default"><label for="dd_hasPhoto">Photo</label></button> 
      </span>
      <select id="dd_hasPhoto" ng-model="rc.filters.hasPhoto" name="hasPhoto" class="form-control" ng-options="item for item in rc.dropdown.yesno" ng-change="rc.filterRecipeList()">
      	<option value="">All</option>
        </select>
    </div>

    <div class="input-group">
      <span class="input-group-btn">
         <button type="button" class="btn btn-default"><label for="dd_from">From</label></button> 
      </span>
      <select id="dd_from" ng-model="rc.filters.from" name="from" class="form-control" ng-options="item for item in rc.dropdown.from" ng-change="rc.filterRecipeList()">
      	<option value="">All</option>
        </select>
    </div>

    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="rc.filters.reverse = !rc.filters.reverse; rc.filterRecipeList()">
          <label for="dd_order">Order <i class="glyphicon" ng-class="rc.orderArrow()"></i></label>
        </button> 
      </span>
      <select id="dd_order" ng-model="rc.filters.order" name="order" class="form-control" ng-options="item for item in rc.dropdown.sort.order" ng-change="rc.filterRecipeList()">
      </select>
    </div>


	<div id="categories" class="scrollY">
		<div id="categoryType_{{type.ID}}" ng-repeat="type in rc.categoryTypes" class="categoryType ease05">
			<div class="categoryTypeTitle nowrap">
				<a ng-click="type.show=!type.show">
					<img ng-src="images/{{type.show ? 'minus' : 'expand'}}.png"/>{{type.Name}}
				</a>

			<a class="category nowrap" ng-repeat="cat in type.Categories" ng-if="rc.selectedCategories[cat.ID]"
			ng-click="rc.selectedCategories[cat.ID]=false; rc.loadRecipeList();"> {{cat.Name}}</a>

			</div>
			<div id="category_{{cat.ID}}" class="category nowrap ease05" ng-repeat="cat in type.Categories" ng-if="type.show">
				<input type="checkbox" class="chkSearch" id="cb_cat_{{cat.ID}}"
				 ng-model="rc.selectedCategories[cat.ID]"  ng-true-value="{{cat.ID}}"
				  ng-change="rc.loadRecipeList()" />
				<label for="cb_cat_{{cat.ID}}">{{cat.Name}}</label>
			</div>
		</div>
	</div>
</form>
</div>

<div id="page-content-wrapper" class="center ease05">
	<p class="title hidden-print">{{rc.title()}}</p>

	<p ng-if="!lc.isLoggedIn()">Welcome! Here are some of our latest recipes.<br/>
	You can <a class="btn btn-primary" ui-sref="signin">Log in</a> or <a class="btn btn-primary" ui-sref="signup">Sign up</a> to discover more content, and submit your own recipes!</p>

	<div id="item_{{recipe.ID}}" class="recipeListItemSmall bordered bgwhite margin shadow" ng-repeat="recipe in rc.filteredList" ng-if="rc.filters.size=='small'">
		<crop-image class="recipeImage" src="{{rc.recipePhotoUrl(recipe,2)}}" model="recipe" on-error="rc.removeImage" ui-sref="recipe({recipeId: recipe.ID})"></crop-image>

		<div class="pad5">
			<div class="centered">
				<a class="recipeTitle textWhiteOutline" ui-sref="recipe({recipeId: recipe.ID})">{{recipe.Name}}</a>
			</div>
			<div class="left">{{rc.firstSentence(recipe.Description)}}</div>
		</div>

		<div class="bottomLeftCorner stretchW centered">
			<a class="recipeTag small pad2 nowrap" ng-click="rc.selectCategory(cat.ID, true); rc.loadRecipeList()" ng-repeat="cat in recipe.categories">{{cat.Name}}</a>
		</div>
	</div>

	<div id="item_{{recipe.ID}}" class="recipeListItemLarge bordered bgwhite margin shadow" ng-repeat="recipe in rc.filteredList" ng-if="rc.filters.size=='large'">
		<crop-image class="recipeImage" ng-class="{'col-sm-6': recipe.hasPhoto && !rc.isMobile}"
		 src="{{rc.recipePhotoUrl(recipe,3)}}" model="recipe" on-error="rc.removeImage" ui-sref="recipe({recipeId: recipe.ID})"></crop-image>

		<div class="pad5" ng-class="{'col-sm-6': recipe.hasPhoto && !rc.isMobile}">
			<div class="centered">
				<a class="recipeTitle textWhiteOutline" ui-sref="recipe({recipeId: recipe.ID})">{{recipe.Name}}</a>
				<p class="margin left">{{recipe.Description}}</p>
				<a class="recipeTag pad2 nowrap" ng-click="rc.selectCategory(cat.ID, true); rc.loadRecipeList()" ng-repeat="cat in recipe.categories">{{cat.Name}}</a>
			</div>
		</div>
	</div>

	<div class="fixedTopLeft hidden-print">
	    <a class="btn btn-default menu-toggle glyphicon glyphicon-search" title="Search" ng-show="!lc.sidebar && lc.isLoggedIn()" ng-click="lc.toggleSidebar(true)"></a>
	</div>

	<div class="fixedTopRight hidden-print">
		<img src="images/ajax-loader.gif" ng-show="rc.loading"/>
		<div class="title textWhiteOutline" ng-show="!rc.loading && rc.filteredList.length">{{rc.filteredList.length}}</div>
		<div class="small bold textWhiteOutline"  ng-show="!rc.loading">{{rc.filteredList.length ? rc.plural(rc.filteredList.length>1, "recipe") : "No results found."}}</div>
		{{rc.status}}
	</div>

</div>
</div>
