<div class="title hidden-print textWhiteOutline">{{rc.title()}}</div>
<div class="noscroll container">
	<div id="slideshowContainer" class="col-sm-6 noscroll" ng-show="rc.hasPhoto" ng-class="{'col-sm-6': rc.split, 'split': rc.split}">
		<img id="printImage" class="visible-print-block centered stretchH" ng-src="{{rc.mainImageUrl}}" ng-if="rc.mainImageUrl"/>

		<img id="slide0" class="hidden-print slide bottom right" alt="" src="/mt/icons/blank1px.png"/>
		<img id="slide1" class="hidden-print slide top left" alt="" src="/mt/icons/blank1px.png"/>

		<div class="headerLeftCorner hidden-print">
			<a id="zoomButton" class="icon32 glyphicon glyphicon-zoom-in textOutline" title="zoom" ng-click="rc.toggleSplit()"></a>
			<br/>
			<a id="prevButton" class="icon32 glyphicon glyphicon-step-backward textOutline" title="previous" ng-click="rc.slideshow.showNextImage(-1)" ng-if="rc.pics.length > 1"></a>
		</div>
		<div class="headerRightCorner hidden-print" ng-if="rc.pics.length > 1">
			<a id="playButton" class="icon32 glyphicon glyphicon-pause textOutline" title="play/pause" ng-click="rc.slideshow.togglePlay()"></a>
			<br/>
			<a id="nextButton" class="icon32 glyphicon glyphicon-step-forward textOutline" title="next"  ng-click="rc.slideshow.showNextImage(+1)"></a>
		</div>
	</div>

	<div ng-class="{'col-sm-6': rc.hasPhoto && rc.split}">
		<span class="error">{{rc.status}}</span>
		<p ng-bind-html="rc.displayProperty('Author')"></p>
		<p class="text bold">{{rc.recipe.Description}}</p>

		<div class="hidden-print" id="recipeIcons">
			<div class="floatR">
				<a class="spaceLeft" href="{{rc.shareUrl()}}" title="Direct link" ng-if="rc.recipe.IsPublic"><img alt="link" src="images/link.png"/></a>
				<a class="spaceLeft" target="facebook" href="{{rc.shareUrl('facebook')}}" title="share on Facebook" ng-if="rc.recipe.IsPublic"><img alt="facebook" src="images/facebook.png"/></a>
				<a class="spaceLeft" target="twitter" href="{{rc.shareUrl('twitter')}}" title="tweet" ng-if="rc.recipe.IsPublic"><img alt="twitter" src="images/twitter.png"/></a>
			</div>
			<a ui-sref="edit({recipeId: rc.recipe.ID})"   class="glyphicon glyphicon-edit icon32 textOutline"   title="Edit Recipe" ng-if="rc.isMine(rc.recipe)"></a>
			<a ui-sref="upload({recipeId: rc.recipe.ID})" class="glyphicon glyphicon-camera icon32 textOutline spaceLeft" title="Add photos"  ng-if="rc.isMine(rc.recipe)"></a>
			<a onclick="print()" class="glyphicon glyphicon-print icon32 textOutline spaceLeft" title="Print"></a>
		</div>

		<div class="borderH margin pad5 right inlineBlock">
			<span class="spaceLeft nowrap" ng-bind-html="rc.displayProperty('YieldCount')"></span>
			<span class="spaceLeft nowrap" ng-bind-html="rc.displayProperty('TotalTime')"></span>
			<span class="spaceLeft nowrap" ng-bind-html="rc.displayProperty('PrepTime')"></span>
			<span class="spaceLeft nowrap" ng-bind-html="rc.displayProperty('CookingTime')"></span>
			<span class="spaceLeft nowrap" ng-bind-html="rc.displayProperty('RestTime')"></span>
		</div>

		<div class="bordered marginH pad5 bgwhite inlineBlock">
			<div ng-repeat="catType in rc.recipe.categories">{{catType.key}}: 
				<span class="bold">{{catType.allNames}}</span>
			</div>	
		</div>

</div>
<br/>
<div class="container">
	<div class="col-sm-4">

	<h3 ng-if="rc.recipe.RecipeIngredients.length">Ingredients</h3>
	<ul ng-if="rc.recipe.RecipeIngredients.length">
		<li ng-repeat="ingredient in rc.recipe.RecipeIngredients">{{ingredient}}</li>
	</ul>

	</div>

	<div class="col-sm-8">

	<h3 ng-if="rc.recipe.RecipeSteps.length">Preparation</h3>
	<ol ng-if="rc.recipe.RecipeSteps.length">
		<li ng-repeat="step in rc.recipe.RecipeSteps">{{step}}</li>
	</ol>

	<h3 ng-if="rc.recipe.AllRecipeTips.length">Tips</h3>
	<ul ng-if="rc.recipe.AllRecipeTips.length">
		<li ng-repeat="tip in rc.recipe.AllRecipeTips">{{tip}}</li>
	</ul>

	<h3 ng-if="rc.recipe.RecipeLinks.length">Links</h3>
	<p class="" ng-repeat="link in rc.recipe.RecipeLinks">
		<a target="linkPreview" href="{{link.LinkUrl}}">{{link.LinkTitle || link.LinkUrl}}</a>
	</p>

	</div>

</div>