<div id="slideshowContainer" class="centered container noscroll shrinkW90" style="height: 10cm; max-width: 1000px;" ng-show="rc.hasPhoto">
	<img id="slide0" class="slide bottom right" alt="" src="/mt/icons/blank1px.png"/>
	<img id="slide1" class="slide top left" alt="" src="/mt/icons/blank1px.png"/>
	<div id="videoSlide" class="inlineBlock centered"></div>

	<div class="title captionTop">{{rc.title()}}</div>
	<div class="bottomLeftCorner right maxWidthHalf translucent text">{{rc.displayProperty(rc.recipe.Recipe,"CookingTime")}}{{displayProperty(rc.recipe.Recipe,"PrepTime")}}{{rc.displayProperty(rc.recipe.Recipe,"TotalTime")}}</div>
	<div class="bottomRightCorner maxWidthHalf translucent text">{{rc.displayProperty(rc.recipe.Recipe,"Author")}}{{rc.displayProperty(rc.recipe.Recipe,"Yield")}}</div>
</div>

<div class="container marginV">

<div class="title" ng-show="!rc.hasPhoto">{{rc.title()}}</div>

<div class="floatR">
	<a href="{{rc.shareUrl()}}" title="Direct link"><img alt="link" src="images/link.png"/></a>
	<a target="facebook" href="{{rc.shareUrl('facebook')}}" title="share on Facebook"><img alt="facebook" src="images/facebook.png"/></a>
	<a target="twitter" href="{{rc.shareUrl('twitter')}}" title="tweet"><img alt="twitter" src="images/twitter.png"/></a>
</div>

<p class="text bold">{{rc.recipe.Recipe.Description}}</p>

<div class="inlineBlock right">
	<div class="" ng-repeat="type in rc.recipe.RecipeCategories">
		{{rc.categoryTypeNames[type.CategoryTypeID]}}: <span class="bold" ng-repeat="cat in type.CategoryIDs">{{ ($index ? ", " : "") + rc.categoryNames[cat]}}</span>
	</div>
</div>

<div class="inlineBlock left vtop">
	<h3>Ingredients ({{rc.recipe.RecipeIngredients.length}})</h3>
	<ul class="text inlineBlock nomargin">
		<li ng-repeat="ingredient in rc.recipe.RecipeIngredients">{{ingredient}}</li>
	</ul>
</div>

<div class="inlineBlock left vtop">
	<h3>Preparation</h3>
	<ol class="text nomargin">
		<li ng-repeat="step in rc.recipe.RecipeSteps">{{step}}</li>
	</ol>
</div>

</div>