<span class="error" ng-if="rc.error">{{rc.status}}</span>
<form class="file-uploader container" name="uploadForm" novalidate ng-if="!rc.error">
<!--
Name/Title
Description / Raw Text (Ingredients, Steps, Tips (optional), 
prepopulate with template: INGREDIENTS STEPS TIPS
make text area as many rows as needed

Prep Time (optional), Cooking Time (optional), Total Time (optional) 
Yield Count (int), Yield Unit
IsPersonal (if checked, source is not required), Author, Source (can contain a link), 
Link URLs (optional)), 
Categories (category ID) modify search template
-->

    <div class="col-sm-12">
        <label for="inputTitle">Recipe Title</label> 
        <input type="text" id="inputTitle" name="title" class="form-control" ng-model="rc.form.Name" placeholder="Recipe Title"/>
    </div>

    <div class="col-sm-12">
        <label for="inputRecipe">Recipe Description</label> 
        <textarea id="inputRecipe" name="caption" class="form-control" ng-model="rc.form.Description" placeholder="Brief recipe description" rows="2"></textarea>
    </div>
      
    <div class="col-sm-6 col-md-3 marginB right">
      <spinner label="Preparation time" value="rc.form.PrepTime"  min="1" max="120" loop="true" hold="true"></spinner>&nbsp;minutes
    </div>
      
    <div class="col-sm-6 col-md-3 marginB right">
      <spinner label="Cooking time"  value="rc.form.CookingTime"  min="1" max="180" loop="true" hold="true"></spinner>&nbsp;minutes
    </div>
      
    <div class="col-sm-6 col-md-3 marginB right">
      <spinner label="Total time"  value="rc.form.TotalTime" min="1" max="240" loop="true" hold="true"></spinner>&nbsp;minutes
    </div>
      
    <div class="col-sm-6 col-md-3 marginB right">
      <spinner label="Yield" value="rc.form.YieldCount" min="1" max="100" loop="true" hold="true"></spinner>
      <select id="ddMood" ng-model="rc.YieldUnit" class="" ng-options="item.AbbrevPluralName for item in rc.units"></select>
    </div>

    <div class="col-sm-12">
        <label for="inputSource">Source</label> 
        <input type="text" id="inputSource" name="source" class="form-control" ng-model="rc.form.Source" placeholder="Recipe source"/>
    </div>

    <div class="col-sm-4">
      <label for="inputAuthor">Author</label>
      <input type="text" id="inputAuthor" name="author" class="form-control" ng-model="rc.form.Author" placeholder="Author name"/>
    </div>

    <div class="col-sm-8">
      <label for="cpPersonal">Personal recipe</label><br/>
      <input type="checkbox" id="cpPersonal" name="personal" ng-model="rc.form.IsPersonal"/>
      This recipe is my own or from a friend/relative (not from a cookbook, magazine or website).
    </div>

    <div class="col-sm-12">
        <label for="inputIngredients">Ingredients</label> (1 per line) 
        <textarea id="inputIngredients" name="caption" class="form-control" ng-model="rc.form2.ingredients" rows="6"></textarea>
    </div>

    <div class="col-sm-12">
        <label for="inputDirections">Directions</label> (1 step per line)
        <textarea id="inputDirections" name="caption" class="form-control" ng-model="rc.form2.directions" rows="6"></textarea>
    </div>

    <div class="col-sm-12">
        <label for="inputTips">Tips</label> 
        <textarea id="inputTips" name="caption" class="form-control" ng-model="rc.form2.tips" rows="2"></textarea>
    </div>

    <div class="col-sm-12">
        <label for="inputLinks">Links</label> 

        <div class="rlink" ng-repeat="link in rc.form.RecipeLinks">
          <i class="glyphicon glyphicon-remove-circle" ng-click="rc.removeLink($index);"></i>
          <a target="linkPreview" href="{{link.LinkUrl}}" title="{{link.description}}" ng-if="link.image">
            <img class="linkPreview cover" ng-src="{{link.image}}"/>
          </a>
          <a target="linkPreview" href="{{link.LinkUrl}}" title="{{link.description}}">{{link.LinkTitle}}</a> 
        </div>

        <div class="input-group">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-show="rc.form2.links" ng-click="rc.form2.links='';">
              <i class="glyphicon glyphicon-remove-circle"></i>
            </button> 
          </span>

          <input type="text" id="inputLinks" name="caption" class="form-control" ng-model="rc.form2.links" placeholder="Paste URL" ng-blur="rc.loadLinkMetadata()"
          />
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="rc.loadLinkMetadata()">
              <i class="glyphicon glyphicon-search"></i>
            </button> 
          </span>
        </div>

    </div>

    <div class="col-sm-12">
      <label for="inputLink">Categories</label><br/>
      <div id="categoryType_{{type.ID}}" ng-repeat="type in rc.categoryTypes" class="col-sm-4 col-md-3 categoryType0 marginB">
        <div class="categoryTypeTitle nowrap rounded">
          <a ng-click="type.show=!type.show">
            <img ng-src="images/{{type.show ? 'minus' : 'expand'}}.png"/>{{type.Name}}
          </a>
        </div>

        <div class="scrollY" style="max-height: 140px;">
          <div id="category_{{cat.ID}}" class="category nowrap" ng-repeat="cat in type.Categories" ng-show="type.show">
            <input type="checkbox" class="chkSearch" id="cb_cat_{{cat.ID}}"
             ng-model="rc.selectedCategories[cat.ID]" ng-true-value="{{cat.ID}}" />
            <label for="cb_cat_{{cat.ID}}">{{cat.Name}}</label>
          </div>
        </div>

      </div>
    </div>

    <p class="col-sm-12">
      <button class="btn btn-primary" type="submit" ng-click="rc.saveRecipe()" ng-disabled="rc.validate()">Save</button>
      <button class="btn" type="button" data-toggle="modal" data-target="#deleteModal" ng-if="rc.form.upload_id && !rc.offline">Delete</button>
      <button class="btn" type="button" ng-click="rc.cancelEdit()">Cancel</button>
      <span class="error">{{rc.status}}</span>
    </p>
</form>

