<form role="form" name="signupForm" class='form-signin container'>
  <h2 class="form-signin-heading text-center">{{lc.title}}</h2>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.username.$invalid }">
    <label for="inputUsername">Username</label>
    <input type="text" id="inputUsername" name="username" class="form-control first" placeholder="Username" ng-model="lc.form.username" required autofocus>
  </div>
  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.email.$invalid }">
    <label for="inputEmail">Email</label>
    <input type="email" id="inputEmail" name="email" class="form-control last" ng-model="lc.form.email" placeholder="Email address" required>
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.password.$invalid }">
      <label for="inputPassword1">Password</label>
      <input type="password" id="inputPassword1" name="password" class="form-control" ng-model="lc.form.password" placeholder="Password" ng-if="lc.stateIs('profile')">
      <input type="password" id="inputPassword1" name="password" class="form-control" ng-model="lc.form.password" placeholder="Password" required ng-if="lc.stateIs('signup')">
  </div>
  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.confirmPassword.$invalid }">
    <label for="inputPassword2">Confirm</label>
    <input type="password" id="inputPassword2" name="confirmPassword" class="form-control" ng-model="lc.form.confirmPassword" placeholder="Confirm Password" ng-if="lc.stateIs('profile')">
    <input type="password" id="inputPassword2" name="confirmPassword" class="form-control" ng-model="lc.form.confirmPassword" placeholder="Confirm Password" required ng-if="lc.stateIs('signup')">
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.firstName.$invalid }">
    <label for="inputFirstName">First name</label>
    <input type="text" id="inputFirstName" name="firstName" class="form-control" placeholder="First name" ng-model="lc.form.firstName" required>
  </div>
  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.lastName.$invalid }">
    <label for="inputFirstName">Last name</label>
    <input type="text" id="inputLastName"  name="lastName"  class="form-control" placeholder="Last name" ng-model="lc.form.lastName" required>
  </div>

  <div class="col-xs-6 marginB">
    <label for="ddlCountries">Country</label>
    <select class="form-control" id="ddlCountries" name="country" ng-model="lc.search.country" ng-options="c.common_name for c in lc.countries" ng-change="lc.lookupLocation()">
      <option value="">-</option>
    </select>
  </div>

  <div class="col-xs-6 marginB" ng-class="{'has-error': signupForm.location.$invalid }">
    <label for="inputLocation">Location</label>
    <div class="input-group">
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-show="lc.search.location" ng-click="lc.search.location=''">
          <i class="glyphicon glyphicon-remove-circle"></i>
        </button> 
      </span>    
      <input type="text" id="inputLocation" name="location" class="form-control" ng-model="lc.search.location" placeholder="City or Zip" ng-blur="lc.lookupLocation()" required>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" title="Lookup" ng-click="lc.lookupLocation()">
          <i class="glyphicon glyphicon-search"></i>
        </button> 
      </span>
    </div>
  </div>

  <div class="col-xs-12 marginB" ng-class="{'has-error': signupForm.selectedResult.$invalid }">
    <label for="ddlLocations">{{lc.geocodeData.results.length | plural:'result'}}</label>
    <select class="form-control" id="ddlLocations" name="selectedResult" ng-model="lc.selectedResult" ng-disabled="!lc.geocodeData.results.length" ng-options="c.formatted_address for c in lc.geocodeData.results" ng-change="lc.selectLocation()" required>
      <option value="">Select Your location</option>
    </select>
  </div>

  <div class="col-xs-12">
    <button class="btn btn-lg btn-primary btn-block centered narrow" type="submit" ng-click="lc.register()">Sign up</button>
    <p class="has-error">{{lc.message}}</p>
  </div>
</form>

<pre class="col-xs-12 col-sm-6" ng-if="lc.showDebug">{{lc.form|toJson:true}}</pre>
<pre class="col-xs-12 col-sm-6" ng-if="lc.showDebug">{{lc.location|toJson:true}}</pre>

<pre class="col-xs-12" ng-if="lc.showDebug>2">{{lc.selectedResult | toJson:true}}</pre>
