<div class="title hidden-print textWhiteOutline">{{rc.title()}}</div>

<form class="file-uploader container" name="uploadForm">
<h3>Add new images</h3>
    <div class="col-sm-4 col-sm-offset-4"> 
        <label for="inputFiles" class="uploadThumbnail border1black shadow" ng-click="uc.browse()">
          <div class="uploadLabel" ng-if="!uc.uploadUrl">Click to Select Photo<br/>{{uc.progressPercentage}}</div>
          <img id="thumbnail" ng-src="{{uc.uploadUrl}}" ng-show="uc.uploadUrl"/> 
        </label> 
    </div>
    <input type="file" id="inputFiles" class="size0" ngf-select ng-model="uc.files" name="file" ngf-multiple="true" 
        accept="image/*" required ngf-change="uc.upload()" />
<br/>
<div class="inlineBlock" ng-if="uc.mainImage">
    <h4>Main image</h3>
    <crop-image class="recipeThumb bordered" title="{{uc.mainImage.name}}" ng-src="{{uc.thumbnailUrl(uc.mainImage, true)}}"></crop-image>
    {{uc.mainImage.filename}}
    <button class="btn" type="button" ng-click="uc.selectImage(uc.mainImage)" data-toggle="modal" data-target="#deleteModal">Delete</button>
</div>

<div class="inlineBlock" ng-if="uc.pics.length">
  <h4>Other images</h3>
  <div ng-repeat="mf in uc.pics" class="inlineBlock centered">  
      <crop-image class="recipeThumb bordered" title="{{mf.filename}}" ng-src="{{uc.thumbnailUrl(mf)}}"></crop-image>
      <button class="btn btn-primary" type="button" ng-click="uc.setMainImage(mf)">Main</button>
      <button class="btn" type="button" ng-click="uc.selectImage(mf)" data-toggle="modal" data-target="#deleteModal">Delete</button>
  </div>
</div>
<br/>
<br/>
<p>
  <button class="btn" type="button" ui-sref="recipe({recipeId: uc.recipe.ID})">Back to Recipe</button>
  <span class="error">{{uc.message}}</span>
</p>
</form>

<div class="col-md-12" ng-if="uc.showDebug"
  Upload Log:
  <pre>{{uc.log}}</pre>
</div>

<div id="deleteModal" class="modal fade0 bs-example-modal-sm" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Delete File</h4>
      </div>
      <div class="modal-body centered">
       Delete {{uc.selectedImage.filename}} ?
        <crop-image class="stretch" title="{{uc.selectedImage.name}}" ng-src="{{ uc.selectedImage.getThumbnailUrl(1) }}"></crop-image>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="uc.deleteImage(uc.selectedImage)">OK</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>